header{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #82C0CC;
    padding: 40px;
    padding: 20px;
}

body {
  background-color: #489FB5;
  color: black;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  margin: 0;
}

.secciones-imagen {
    width: 40px;
    height: 40px;
}

@media screen and (max-width: 768px) {
    header{
        background-color: beige;    
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }

}
